h1{color:darkblue;}
f{font-family:algerian;color:yellow;}

<meta charset="utf-8">

img{
float;
width:
15%;
border:
thin
solid;
padding:
5px;
margin:
0px
10px
10px
0px;}

a:link
{
color:
cyan:
}

a:hover
{
color:
lawngreen;
}

a:visited
{
color:
red;
}

a:active
{
color:
black;
}

a:link
{
background-color:
#B1B1B1;
color:
#FFF;
text-decoration:
none;
font-weight:
bold;
border width:
4px;
border style:
solid;
border-top-color:
#DFDFDF;
border-rigth-color:
#666;
border-botton-color:
#333;
border-left-color:
#858585;}

a:hover
{
background-color:
#B1B1B1;
color:
#FFF;
font-weight:
bold;
border-color:
#B1B1B1;
}


body{
background-image:
url(19.jpeg);
}
}